.catalogue {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--espace-large);
  padding: var(--espace-large);
  margin-top: var(--espace-standard);
  margin-bottom: var(--espace-standard);
  max-width: 1200px;
  margin: 0 auto;
}
