table {
  width: 100%;
  /* border-collapse: collapse; */
  text-align: center;
  border: var(--cliquable-secondaire) 2px solid;
  border-radius: 3px;
}
th {
  padding: 5px;
  background-color: var(--cliquable-secondaire);
  color: #ffffff;
  font-size: 1.2rem;
}
td {
  padding: 5px;
}
td a {
  text-decoration: none;
  color: var(--cliquable-primaire);
  font-size: 1.2rem;
  display: inline-block;
  padding: 5px;
}
td a:hover {
  color: #ffffff;
  background-color: #007bff;
  border-radius: 5px;
}

.edit {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.remove {
  border: none;
  background-color: #ff1100;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
